// out: ../../../content/css/components/aside.css, compress: true
@import 'variables.less';
// Name:            aside
// Description:     Defines styles to create layouts with aside
//
// Component:       '.aside__*'
//                  '.aside__*'
//
// -------------------------------------------------
// Block '.aside'
// -------------------------------------------------
.aside{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @aside-width;
    padding: 0;
    background: #fff;
    color: #fff;
    font-weight: 500;
    box-shadow: 10px 0px 40px 0 rgba(0, 0, 0, 0.1);

    // -------------------------------------------------
    // All modificators
    // -------------------------------------------------


    // -------------------------------------------------
    // All elements
    // -------------------------------------------------

    // Element '.aside .aside__header'
    & &__header{
        color: #95a8b2;
        font-size: 1.5rem;
        text-align: center;
        display: block;
        padding: 10px 0;
    }

    // Element '.aside .aside__menu'
    & &__menu{
        padding: 10px 0;

        &-item{
            color: #90a4ae;
            padding: 10px 0;
            border-left: 3px solid transparent;
            transition: all 250ms;

            &:hover{
                background-color: rgba(3, 169, 244, 0.05);
                border-color: rgba(3, 169, 244, 0.5);
                color: #647a88;
            }

            &.active{
                background-color: rgba(3, 169, 244, 0.1);
                border-color: rgb(3, 169, 244);
                color: #647a88;
            }
        }

        &-link{
            display: block;
            text-align: center;
            color: inherit;
        }

        &-icon{
            font-size: 1.5rem;
        }

        &-text{
            display: block;
            font-size: 0.6rem;
        }
    }

}
