// out: ../../../content/css/components/header.css, compress: true
@import 'variables.less';
// Name:            header
// Description:     Defines styles to create layouts with header
//
//
// Component:       `.header__*`
// ----------------------------------------------------
// Block '.header'
// ----------------------------------------------------
.header {
    margin: 10px 0 15px 0;
    
    // -----------------------------------------
    // All modificators
    // -----------------------------------------


    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.header .header__title'
    & &__title{
        margin: 0;
        line-height: 26px;

        &-text{
            position: relative;
            color: #bbb;
            font-size: 1rem;
            font-weight: 400;

            & + .header__title-text{
                margin-left: 16px;

                &:before{
                    content: '/';
                    position: absolute;
                    left: -14px;
                    top: -4px;
                    color: #ddd;
                    font-weight: 300;
                }
            }

            &.active{
                color: @color-blue;
                font-weight: 600;
            }
        }
    }

    // Element '.header .header__btn'
    & &__btn{
        float: right;

        & > *{
            display: inline-block;
            vertical-align: middle;
            line-height: 26px;
        }

        .btn__text{
            line-height: 26px;
        }
    }

}
