<section class="wrapper" data-ng-class="{'open' : showDetails}">
    <div class="wrapper__container">
        <div class="wrapper__panel">
            <div class="wrapper__header sticky">
                X
            </div>
            <div class="wrapper__content">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Минская
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Минский
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Минск
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Октябрьский район
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            ул. Воронянского
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>