<section class="wrapper room">
    <div class="wrapper__container">
        <div class="wrapper__panel">
            <div class="wrapper__header sticky">
                X
            </div>
            <div class="wrapper__content">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Минская
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Минский
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Минск
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            Октябрьский район
                        </a>
                    </li>
                    <li class="breadcrumb__item">
                        <a href="" class="breadcrumb__link">
                            ул. Воронянского
                        </a>
                    </li>
                </ul>

                <div class="grid">
                    <div class="col--3-4">
                        <h1>
                            Жилой район «Новокуркино»
                        </h1>
                        <p class="metro m--reset">
                            <span class="metro__badge">1</span>
                            <span class="metro__title">Площадь Якуба Коласа</span>
                        </p>
                        <p>
                            <a href="" class="btn btn--md btn--yellow t--semi-bold">+375-(29) 600 00 00</a>
                        </p>
                    </div>
                    <div class="col--1-4 room__price">
                        <p class="room__price-val">235 у.е.</p>
                        <p class="room__price-meter">от 73 899 до 143 999 Р за м²</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>