<section data-ng-include="'view/ui/filter/filter-rent-flat.html'"></section>

<div class="container--fluid m--v">

    <div class="header">
        <div class="grid">
            <div class="col--3-10">
                <h2 class="header__title">
                    <a href="" class="link link--dashed header__title-text">Аренда</a>
                    <!--<span>/</span>-->
                    <span class="header__title-text active">Аренда квартир</span>
                </h2>
            </div>
            <div class="col--7-10">
                <div class="header__btn">
                    <button class="btn">
                        <i class="btn__icon icon-menu"></i>
                    </button>
                    <button class="btn">
                        <span class="btn__text">Фильтр</span>
                        <i class="btn__icon icon-filter_list"></i>
                    </button>
                    <div class="btn-group">
                        <button class="btn">
                            <span class="btn__text">Печать</span>
                            <i class="btn__icon icon-print"></i>
                        </button>
                        <button class="btn btn--arrow">
                            <i class="btn__icon icon-keyboard_arrow_down"></i>
                        </button>
                    </div>
                    <button class="btn">
                        <span class="btn__text">Письмо</span>
                        <i class="btn__icon icon-mail_outline"></i>
                    </button>
                    <button class="btn btn--blue">
                        <i class="btn__icon icon-home"></i>
                        <span class="btn__text">Добавить объект</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    
    <div class="table">
        <div class="thead">
            <div class="tr">
                <div class="th" uib-dropdown>
                    <a href="" class="btn btn--mini" uib-dropdown-toggle>+</a>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <div role="menuitem">
                            <a href="#">Action</a>
                        </div>
                    </div>
                </div>
                <div class="th">1</div>
                <div class="th">1</div>
                <div class="th">1</div>
                <div class="th">1</div>
                <div class="th">1</div>
                <div class="th">1</div>
                <div class="th">1</div>
            </div>
        </div>
        <div class="tbody">
            <div class="tr">
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
            </div>
            <div class="tr">
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
            </div>
        </div>
    </div>
</div>