<section data-ng-include="'view/ui/filter/filter-rent-flat.html'"></section>

<div class="container--fluid m--v">

    <div class="header">
        <div class="grid">
            <div class="col--3-10">
                <h2 class="header__title">
                    <a href="/" class="link link--dashed header__title-text">Главная</a>
                    <a href="/" class="link link--dashed header__title-text">Аренда</a>
                    <span class="header__title-text active">Аренда квартир</span>
                </h2>
            </div>
            <div class="col--7-10">
                <div class="header__btn">
                    <button class="btn">
                        <i class="btn__icon icon-menu"></i>
                    </button>
                    <button class="btn">
                        <span class="btn__text">Фильтр</span>
                        <i class="btn__icon icon-filter_list"></i>
                    </button>
                    <div class="btn-group">
                        <button class="btn">
                            <span class="btn__text">Печать</span>
                            <i class="btn__icon icon-print"></i>
                        </button>
                        <div uib-dropdown auto-close="outsideClick">
                            <button class="btn btn--arrow" uib-dropdown-toggle>
                                <i class="btn__icon icon-keyboard_arrow_down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu--right" uib-dropdown-menu role="menu">
                                <div class="dropdown-menu__list">
                                    <a href="" class="dropdown-menu__list-item">Печать выбранных</a>
                                    <a href="" class="dropdown-menu__list-item">Печатать всё</a>
                                    <a href="" class="dropdown-menu__list-item">Сохранить PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn">
                        <span class="btn__text">Письмо</span>
                        <i class="btn__icon icon-mail_outline"></i>
                    </button>
                    <button class="btn btn--blue">
                        <i class="btn__icon icon-home"></i>
                        <span class="btn__text">Добавить объект</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    
    <div class="table">
        <div class="thead">
            <div class="tr">
                <div class="th" uib-dropdown auto-close="outsideClick">
                    <a href="" class="btn btn--sm t--bold" uib-dropdown-toggle>+</a>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu">
                        <div class="checkbox checkbox--sm" role="menuitem" data-ng-repeat="item in params">
                            <input class="checkbox__input" type="checkbox" id="{{$index}}" name="{{$index}}" data-ng-checked="item.check" data-ng-model="$index">
                            <label for="{{$index}}" class="checkbox__label">{{item.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="th" data-ng-repeat="item in params" data-ng-bind="item.socr"></div>
            </div>
        </div>
        <div class="tbody">
            <div class="tr" data-ng-repeat="item in rooms">
                <div class="td">
                    <div class="checkbox checkbox--empty checkbox--sm" role="menuitem">
                        <input class="checkbox__input" type="checkbox" id="{{item.id}}" name="{{item.id}}">
                        <label for="{{item.id}}" class="checkbox__label"></label>
                    </div>
                </div>
                <div class="td">{{item.price}}</div>
                <div class="td">{{item.street}}</div>
                <div class="td">№{{item.house_number}}</div>
                <div class="td">{{item.room_number}}</div>
                <div class="td">{{item.home_block}}</div>
                <div class="td">{{item.floor}} из {{item.floor_max}}</div>
                <div class="td">{{item.furniture}}</div>
                <div class="td">{{item.refrigerator}}</div>
                <div class="td">{{item.s_m}}</div>
                <div class="td">{{item.cell}}</div>
            </div>
        </div>
    </div>
</div>