<section data-ng-include="'view/ui/filter/filter-rent-flat.html'"></section>

<div class="container--fluid m--v">

    <div class="header">
        <div class="grid">
            <div class="col--3-10">
                <h2 class="header__title">
                    <a href="" class="link link--dashed header__title-text">Аренда</a>
                    <!--<span>/</span>-->
                    <span class="header__title-text active">Аренда квартир</span>
                </h2>
            </div>
            <div class="col--7-10">
                <div class="header__btn">
                    <button class="btn">
                        <i class="btn__icon icon-menu"></i>
                    </button>
                    <button class="btn">
                        <span class="btn__text">Фильтр</span>
                        <i class="btn__icon icon-filter_list"></i>
                    </button>
                    <div class="btn-group">
                        <button class="btn">
                            <span class="btn__text">Печать</span>
                            <i class="btn__icon icon-print"></i>
                        </button>
                        <div uib-dropdown auto-close="outsideClick">
                            <button class="btn btn--arrow" uib-dropdown-toggle>
                                <i class="btn__icon icon-keyboard_arrow_down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu--right" uib-dropdown-menu role="menu">
                                <a href="" class="link">123</a>
                            </div>
                        </div>
                    </div>
                    <button class="btn">
                        <span class="btn__text">Письмо</span>
                        <i class="btn__icon icon-mail_outline"></i>
                    </button>
                    <button class="btn btn--blue">
                        <i class="btn__icon icon-home"></i>
                        <span class="btn__text">Добавить объект</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
    
    <div class="table">
        <div class="thead">
            <div class="tr">
                <div class="th" uib-dropdown auto-close="outsideClick">
                    <a href="" class="btn btn--sm t--bold" uib-dropdown-toggle>+</a>
                    <div class="dropdown-menu" uib-dropdown-menu role="menu">
                        <div class="checkbox checkbox--sm" role="menuitem" data-ng-repeat="item in params">
                            <input class="checkbox__input" type="checkbox" id="{{$index}}" name="{{$index}}" data-ng-checked="item.check" data-ng-model="$index">
                            <label for="{{$index}}" class="checkbox__label">{{item.name}}</label>
                        </div>
                    </div>
                </div>
                <div class="th" data-ng-repeat="item in params" data-ng-bind="item.socr"></div>
                <!--<div class="th">Об/Раз</div>
                <div class="th">Улица</div>
                <div class="th">Дом</div>
                <div class="th">Кор</div>
                <div class="th">Этаж</div>
                <div class="th">Мебель</div>
                <div class="th">Хол</div>
                <div class="th">С/м</div>
                <div class="th">Тел</div>
                <div class="th">ТВ</div>
                <div class="th">Пред.</div>
                <div class="th">Срок</div>
                <div class="th">Примечание</div>
                <div class="th">-</div>
                <div class="th">-</div>
                <div class="th">Змт</div>
                <div class="th">Ответств.</div>
                <div class="th">Телефоны</div>
                <div class="th">Изменен</div>
                <div class="th">Добавлен</div>
                <div class="th">Статус</div>
                <div class="th">-</div>
                <div class="th">-</div>
                <div class="th">-</div>
                <div class="th">ID</div>-->
            </div>
        </div>
        <div class="tbody">
            <div class="tr">
                <div class="td">
                    <div class="checkbox checkbox--empty checkbox--sm" role="menuitem">
                        <input class="checkbox__input" type="checkbox" id="field-table-1" name="field-table-1">
                        <label for="field-table-1" class="checkbox__label"></label>
                    </div>
                </div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
            </div>
            <div class="tr">
                <div class="td">
                    <div class="checkbox checkbox--empty checkbox--sm" role="menuitem">
                        <input class="checkbox__input" type="checkbox" id="field-table-2" name="field-table-2">
                        <label for="field-table-2" class="checkbox__label"></label>
                    </div>
                </div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
                <div class="td">2</div>
            </div>
        </div>
    </div>
</div>