
<div class="container">
    <div class="header">
        <div class="grid">
            <div class="col--3-10">
                <h2 class="header__title">Аренда квартир</h2>
            </div>
            <div class="col--7-10">
                <div class="header__button">
                    <button class="button">
                        Фильтр
                    </button>
                    <button class="button">
                        Sort
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="col--1-1">

            <div class="table table--header">
                <!--<table class="table__header">
                    <thead>
                        <tr>
                            <th>
                                <button class="button button--mini">
                                    +
                                </button>
                            </th>
                            <th>Цена</th>
                            <th>Ком.</th>
                            <th>Улица</th>
                            <th>Этаж</th>
                            <th>Меб</th>
                            <th>Хол</th>
                            <th>С/м</th>
                            <th>Тел</th>
                            <th>ТВ</th>
                            <th>Пред.</th>
                            <th>Срок</th>
                            <th>Примечание</th>
                            <th>Ф</th>
                            <th>К</th>
                            <th>Змтк</th>
                            <th>Отв.</th>
                            <th>Телефоны</th>
                            <th>Изменен</th>
                            <th>Статус из</th>
                            <th>От куда</th>
                            <th>-</th>
                            <th>А</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                </table>-->
                <table class="table__content">
                    <thead>
                        <tr>
                            <th>
                                <button class="button button--mini">
                                    +
                                </button>
                            </th>
                            <th>Цена</th>
                            <th>Ком.</th>
                            <th>Улица</th>
                            <th>Этаж</th>
                            <th>Меб</th>
                            <th>Хол</th>
                            <th>С/м</th>
                            <th>Тел</th>
                            <th>ТВ</th>
                            <th>Пред.</th>
                            <th>Срок</th>
                            <th>Примечание</th>
                            <th>Ф</th>
                            <th>К</th>
                            <th>Змтк</th>
                            <th>Отв.</th>
                            <th>Телефоны</th>
                            <th>Изменен</th>
                            <th>Статус из</th>
                            <th>От куда</th>
                            <th>-</th>
                            <th>А</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-</td>
                            <td>500 $</td>
                            <td>2 / 3</td>
                            <td>Независимости д.120 к.1 кв.20</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>