<div class="top-menu">
    
    <a href="" class="top-menu__menu link link--reset">
        <i class="icon icon-sort"></i>
    </a>

    <div class="top-menu__container">
        <div class="container--fluid">
            <div class="grid grid--sm">
                <div class="col--2-10">
                    <div class="logo">
                        <span class="logo__img">E</span>
                        <p class="logo__text">Estate</p>
                        <p class="logo__desc">Realt System v. 2.0</p>
                    </div>
                </div>
                <div class="col--6-10">
                    <!--Menu-->
                </div>
                <div class="col--2-10">
                    <div class="top-menu__user">
                        <span class="top-menu__user-avatar avatar avatar--sm avatar--empty"></span>
                        <p class="top-menu__user-name">
                            Джон Дое
                        </p>
                        <span class="top-menu__user-role">
                            менеджер
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>