<div class="block block--filter" data-ng-show="showFilter">
    <div class="container--fluid filter">
        <div class="grid">
            <div class="col--3-10">
                <p class="t--bold t--sm m--b-mini">Расположение</p>

                <div class="grid grid--sm">
                    <div class="col--1-3">
                        <label for="" class="label">Районы</label>
                        <div class="input-group input-group--right">
                            <input type="text" class="input-group__input input">
                            <i class="input-group__icon input-group__icon--right icon icon-keyboard_arrow_down"></i>
                        </div>
                    </div>
                    <div class="col--1-3">
                        <label for="" class="label">Микрорайоны</label>
                        <div class="input-group input-group--right">
                            <input type="text" class="input-group__input input">
                            <i class="input-group__icon input-group__icon--right icon icon-keyboard_arrow_down"></i>
                        </div>
                    </div>
                    <div class="col--1-3">
                        <label for="" class="label">Метро</label>
                        <div class="input-group input-group--right">
                            <input type="text" class="input-group__input input">
                            <i class="input-group__icon input-group__icon--right icon icon-keyboard_arrow_down"></i>
                        </div>
                    </div>

                    <div class="col--1-1">
                        <div class="input-grid">
                            <div class="grid grid--collapse">
                                <div class="col--3-6 input-grid__item">
                                    <label for="" class="label">Улица</label>
                                    <div class="input-group input-group--right">
                                        <input type="text" class="input-group__input input">
                                        <i class="input-group__icon input-group__icon--right icon icon-search"></i>
                                    </div>
                                </div>
                                <div class="col--1-6 input-grid__item input-grid__item--divider">
                                    <label for="" class="label">№ дома</label>
                                    <div class="input-group input-group--prefix">
                                        <input type="text" class="input-group__input input">
                                        <span class="input-group__prefix">от</span>
                                    </div>
                                </div>
                                <div class="col--1-6 input-grid__item">
                                    <label for="" class="label"></label>
                                    <div class="input-group input-group--prefix">
                                        <input type="text" class="input-group__input input">
                                        <span class="input-group__prefix">до</span>
                                    </div>
                                </div>
                                <div class="col--1-6 input-grid__item input-grid__item--divider">
                                    <label for="" class="label">Корпус</label>
                                    <div class="input-group">
                                        <input type="text" class="input-group__input input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col--4-10">
                <p class="t--bold t--sm m--b-mini">Параметры объекта</p>
                <div class="grid grid--sm">
                    
                </div>
            </div>
            <div class="col--3-10">
                <p class="t--bold t--sm m--b-mini">Дополнительно</p>
                <div class="grid grid--sm">
                    
                </div>
            </div>
        </div>
    </div>
</div>