<nav class="aside">
    <div class="aside__header">
        <a href="" class="aside__header-link link link--reset">
            <i class="icon icon-sort"></i>
        </a>
    </div>

    <div class="aside__menu">
        <div class="aside__menu-item active">
            <a href="#!/rent/flat" class="aside__menu-link">
                <i class="aside__menu-icon icon-rent"></i>
                <span class="aside__menu-text">Аренда</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-house-rent-key"></i>
                <span class="aside__menu-text">Продажа</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-users"></i>
                <span class="aside__menu-text">Клиенты</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-city-hall"></i>
                <span class="aside__menu-text">БРТИ</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-reserved-table"></i>
                <!--<span class="aside__menu-text">Перегов...<br>Комнаты</span>-->
                <span class="aside__menu-text">Резервация</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-settings"></i>
                <span class="aside__menu-text">Настройки</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-browser"></i>
                <span class="aside__menu-text">Администрирование</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-star"></i>
                <span class="aside__menu-text">Избранные</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-server"></i>
                <span class="aside__menu-text">Экспорт базы</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon-cloud-download"></i>
                <span class="aside__menu-text">Обновления</span>
            </a>
        </div>
    </div>
</nav>