<div class="overlay overlay--black" data-ng-click="showRent = !showRent"></div>

<nav class="aside aside--submenu aside--rent">
    <div class="aside__menu">
        <div class="aside__menu-item">
            <a href="#!/rent/flat" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-building"></i>
                <span class="aside__menu-text t--semi-bold">Квартиры</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-house-garage"></i>
                <span class="aside__menu-text t--semi-bold">Коммерческая<br> недвижимость</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--md icon-house"></i>
                <span class="aside__menu-text t--semi-bold">Коттеджи</span>
            </a>
        </div>
    </div>
</nav>