<!--<div class="overlay overlay--black" data-ng-click="showSettings = !showSettings"></div>-->

<nav class="aside aside--submenu aside--settings">
    <div class="aside__back">
        <a href="" class="aside__back-link link link--reset" data-ng-click="showSettings = !showSettings">
            <i class="aside__back-icon icon icon--sm icon-arrow_back"></i>
            <span class="aside__back-text">Назад</span>
        </a>
    </div>

    <div class="aside__menu">
        <div class="aside__menu-item active">
            <a href="#!/rent/flat" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-pin_drop"></i>
                <span class="aside__menu-text">Адреса</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-featured_play_list"></i>
                <span class="aside__menu-text">Черный список</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-filter_frames"></i>
                <span class="aside__menu-text">Источники предложений</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-format_list_numbered"></i>
                <span class="aside__menu-text">Настройка меню</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-attach_money"></i>
                <span class="aside__menu-text">Курсы валют</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-map"></i>
                <span class="aside__menu-text">Адреса карты</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-laptop_windows"></i>
                <span class="aside__menu-text">Программы</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-vpn_key"></i>
                <span class="aside__menu-text">Лицензия</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-format_size"></i>
                <span class="aside__menu-text">Шаблоны</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-lock_open"></i>
                <span class="aside__menu-text">IP для Rest API</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-info_outline"></i>
                <span class="aside__menu-text">Сведения о компании</span>
            </a>
        </div>
        <div class="aside__menu-item">
            <a href="" class="aside__menu-link">
                <i class="aside__menu-icon icon icon--sm icon-speaker_notes"></i>
                <span class="aside__menu-text">Переговорные комнаты</span>
            </a>
        </div>
    </div>
</nav>